.task {
  background-color: rgb(196, 190, 190);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 1.2rem;
  border: 0.18rem solid #082567;
  max-width: 60rem;
  margin: auto;
}

.task ul {
  list-style: none;
}

.oppositeSide {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nextTo {
  display: flex;
  list-style: none;
  justify-content: right;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #082567;
  max-width: 70%;
  word-wrap: break-word;
}

.date {
  margin-right: 3rem;
  font-size: 1.5rem;
}

.description {
  font-size: 1rem;
  max-width: 90%;
  word-wrap: break-word;
}

@media (max-width: 1025px) {
  .name {
    max-width: 50%;
    word-wrap: break-word;
  }
  .date {
    max-width: 50%;
    word-wrap: break-word;
  }
}
